<div class="create-project" >
    <h3 class="h1">
      Project : <%= project.name %>
    </h3>
    <h4 class="h2">
      Author : <%= project.author %>
    </h4>
    <h5 class="h3">
      Description : <%= project.description %>
    </h5>
  </div>
  <%-include('./partials/_issues'); %>